In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset =pd.read_csv(r"C:\Users\Shubham Pandey\Downloads\titanic.csv")

In [4]:
dataset.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [13]:
np.median(dataset["Age"])

29.69911764705882

In [16]:
dataset["Age"].median()

29.69911764705882

In [17]:
dataset.isnull().sum() #to find how may null data in dataset

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
dataset["Age"].fillna(dataset["Age"].mean(), inplace=True)