In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

In [17]:
dataset=pd.read_csv(r"C:\Users\Shubham Pandey\Downloads\loan.csv")
dataset.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [18]:
dataset.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [19]:
dataset["Gender"].fillna(dataset["Gender"].mode()[0], inplace=True)

C:\Users\Shubham Pandey\AppData\Local\Temp\ipykernel_12836\1350428233.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Gender"].fillna(dataset["Gender"].mode()[0], inplace=True)

In [30]:
en_data=dataset[["Gender", "Married"]]
en_data

     Gender Married
0      Male      No
1      Male     Yes
2      Male     Yes
3      Male     Yes
4      Male      No
..      ...     ...
609  Female      No
610    Male     Yes
611    Male     Yes
612    Male     Yes
613  Female      No

[614 rows x 2 columns]

In [29]:
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gender_Female  614 non-null    bool
 1   Gender_Male    614 non-null    bool
 2   Married_No     614 non-null    bool
 3   Married_Yes    614 non-null    bool
dtypes: bool(4)
memory usage: 2.5 KB

In [33]:
ohe= OneHotEncoder(drop='first')
array =ohe.fit_transform(en_data).toarray()
array

array([[1., 0., 0.],
       [1., 1., 0.],
       [1., 1., 0.],
       ...,
       [1., 1., 0.],
       [1., 1., 0.],
       [0., 0., 0.]])

In [34]:
pd.DataFrame(array, columns=["Gender_Male", "Married_Yes", ""])

     Gender_Male  Married_Yes
0            1.0          0.0  0.0
1            1.0          1.0  0.0
2            1.0          1.0  0.0
3            1.0          1.0  0.0
4            1.0          0.0  0.0
..           ...          ...  ...
609          0.0          0.0  0.0
610          1.0          1.0  0.0
611          1.0          1.0  0.0
612          1.0          1.0  0.0
613          0.0          0.0  0.0

[614 rows x 3 columns]