In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [7]:
df=pd.DataFrame({"name": ["Alice", "Bob", "Charlie", "David", "Eve"],})
df

      name
0    Alice
1      Bob
2  Charlie
3    David
4      Eve

In [11]:
le=LabelEncoder()
df["le_name"]=le.fit_transform(df["name"])
df

      name  le_name
0    Alice        0
1      Bob        1
2  Charlie        2
3    David        3
4      Eve        4

In [ ]:
dataset=pd.read_csv(r"C:\Users\Shubham Pandey\Downloads\loan.csv")
dataset.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [ ]:
le1=LabelEncoder()

dataset["Property_Area"]=le1.fit_transform(dataset["Property_Area"])

0      2
1      0
2      2
3      2
4      2
      ..
609    0
610    0
611    2
612    2
613    1
Name: Property_Area, Length: 614, dtype: int64