In [18]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [22]:
df=pd.DataFrame({"size":["xl", "s", "m","xxl" ,"s" ,"m","xl","xl","m","s","xxl"]})
df.head(7)

  size
0   xl
1    s
2    m
3  xxl
4    s
5    m
6   xl

In [20]:
ord_data= [["s", "m","xl","xxl"]]

In [23]:
oe= OrdinalEncoder(categories=ord_data)
df["size_encoded"] = oe.fit_transform(df[["size"]])

In [24]:
df

   size  size_encoded
0    xl           2.0
1     s           0.0
2     m           1.0
3   xxl           3.0
4     s           0.0
5     m           1.0
6    xl           2.0
7    xl           2.0
8     m           1.0
9     s           0.0
10  xxl           3.0

In [25]:
ord_data1={"s":0,"m":1,"xl":2,"xxl":3} #ordinal encoding using mapping

In [26]:
df["encoding_map"] = df["size"].map(ord_data1)

In [27]:
df

   size  size_encoded  encoding_map
0    xl           2.0             2
1     s           0.0             0
2     m           1.0             1
3   xxl           3.0             3
4     s           0.0             0
5     m           1.0             1
6    xl           2.0             2
7    xl           2.0             2
8     m           1.0             1
9     s           0.0             0
10  xxl           3.0             3